* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  border-radius: 10%;
  overflow: hidden;
}

.element {
  width: 100%;
  height: 100%;
  transition: 0.6s;
  cursor: pointer;
}

/* .element:hover {
  transform: scale(0.9);
  border-radius: 10%;
} */

.elementActive {
  transform: scale(0.9);
  border-radius: 20%;
}

.elementActivating {
  transform: scale(0.8);
  opacity: 0.3;
}

.a {
  background-color: #f44336;
}

.b {
  background-color: #9c27b0;
}

.c {
  background-color: #2196f3;
}

.d {
  background-color: #009688;
}

.e {
  background-color: #ffc107;
}

.f {
  background-color: #e91e63;
}

.g {
  background-color: #00bcd4;
}

.h {
  background-color: #4caf50;
}

.i {
  background-color: #3f51b5;
}

.active {
  opacity: 0.5;
}

.level {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #74747459;
  /* filter: blur(8px); */
}

.wins {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: white;
  bottom: 100vh;
}
